<%- include("shared/includes/head", { pageTitle: "Jeff Ripke" }) %>
</head>
<body>
  <%- include("shared/includes/header") %>
  <main>
    <h1><a href="/signup">Signup!!!</a></h1>
    <p>Signup to see what projects have done and am currently working on.</p>
    <a href="/login">Login</a>
  </main>
<%- include("shared/includes/footer") %>
