<%- include("shared/includes/head", { pageTitle: "Jeff Ripke" }) %>
</head>
<body>
  <%- include("shared/includes/header") %>
  <main>
    <h1>Sign Up!!!</h1>
    <p>Signup to see what projects have done and am currently working on.</p>
  </main>
<%- include("shared/includes/footer") %>
