<footer id="contact">
  <p>Email me with any questions or comments to <a href="mailto:jripke74@gmail.com?subject=Mail from jeffripke-com">jripke74@gmail.com</a>. Also, check out my LinkedIn page <a href="https://www.linkedin.com/in/jeffripke/"><i class="fab fa-linkedin"></i></a> </p> 
</footer>
</body>
</html>
