* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", "sans-serif";

  --color-gray-50: rgb(216, 215, 222);
  --color-gray-100: rgb(200, 196, 193);
  --color-gray-300: rgb(116, 115, 114);
  --color-gray-400: rgb(91, 90, 89);
  --color-gray-500: rgb(63, 62, 62);
  --color-gray-600: rgb(40, 39, 39);
  --color-gray-700: rgb(31, 30, 29);

  --color-primary-50: rgb(54, 36, 255);
  --color-primary-100: rgb(22, 2, 238);
  --color-primary-200: rgb(27, 18, 132);
  --color-primary-400: rgb(25, 16, 116);
  --color-primary-500: rgb(19, 13, 84);
  --color-primary-700: rgb(10, 7, 50);
  --color-primary-200-contrast: rgb(100, 46, 2);
  --color-primary-500-contrast: rgb(255, 255, 255);

  --color-error-100: rgb(255, 192, 180);
  --color-error-500: rgb(199, 51, 51);

  --color-primary-500-bg: rgb(63, 60, 58);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
