#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  padding: 0 var(--space-6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray-100);
}

#logo a {
  font-weight: bold;
  font-size: 2rem;
}

#main-header nav {
  display: none;
}

.nav-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

a {
  color: var(--color-primary-100);
}

@media (min-width: 48rem) {
  main {
    margin-top: 0;
  }

  #main-header {
    position: static;
  }

  #main-header nav {
    display: block;
  }

  #mobile-menu-btn {
    display: none;
  }

  #mobile-menu {
    display: none;
  }

  .nav-items {
    flex-direction: row;
  }

  .nav-items a {
    padding: var(--space-2) var(--space-4);
    border-radius: var(--border-radius-small);
  }

  .nav-items a:hover,
  .nav-items a:active {
    background-color: var(--color-primary-500-bg);
  }
}
